body{ background-color:
     #fff8ed;
    
}
/* .headerNavigation {
    font-family: "Frank new", sans-serif;
    color: #042c6d;
    text-align: right
} */
img{
    width: 10%;
    height: auto;
    float: left;
}
.btn {
    border: none;
    padding-top: 3%;
    background-color: inherit;
    font-family: "Frank new", sans-serif;
    font-size: 120%;
    cursor: crosshair;
    display: inline-block;
    color:#042c6d;
    /* text-align: right; */

}
.btn:hover {
    color: #5f84c3
}
.name {
    font-family: "Frank new", sans-serif;
    color:#042c6d;
    font-size: 600%;
    text-align: center;
    padding-top: 17%;
    background-color: #042c6d;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
    

}

.navContainer{
    text-align: right;
}
.subtitle{
    font-family: "Frank new", sans-serif;
    color:#042c6d;
    font-size: 300%;
    text-align: center;
    padding-top: 2%;
    background-color: #042c6d;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
}